# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!image.jpg

!Classes/
!Classes/breeds.txt

!Data\ Python\ Scripts/
!Data\ Python\ Scripts/*.py

!Deep\ FC\ NN\ Python\ Scripts/
!Deep\ FC\ NN\ Python\ Scripts/*.py

!Logistic\ Regression\ Python\ Scripts/
!Logistic\ Regression\ Python\ Scripts/*.py

!ResNet50\ Python\ Scripts/
!ResNet50\ Python\ Scripts/*.py

# etc...

# ...even if they are in subdirectories
!*/
